.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: calc(50% - 12px);
    font-family: 'Jet Brains Mono';
    text-align: center;

    a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

    .pic {
        position: relative;

        img {
            max-width: 100%;
            height: auto;
            max-height: 120px;
            width: auto;
        }
    }

    .price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 28px;
    }

    .name {
        min-height: 48px;
        font-size: 16px;
    }
}