header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
}

nav {
    display: flex;
    gap: 8px;
    width: 30%;

    &:last-child {
        justify-content: flex-end;
    }

    a,
    button {
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background: none;
        padding: 16px 20px !important;
        color: var(--text-inactive-color);
        text-decoration: none;
        transition: all 0.2s ease;

        svg {

            path {
                fill: var(--text-inactive-color);
            }
        }
        
        &:hover,
        &.active {
            color: var(--text-primary-color);

            svg {
                path {
                    fill: var(--text-primary-color);
                }
            }
        }
    }
}
