.container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.orderNumber {
    text-align: center;
    margin-bottom: 40px;
}

.orderName {
    color: var(--text-primary-color);
}

.statusDone {
    color: var(--colors-interface-success);
}

.statusPending {
    color: var(--colors-interface-accent);
}

.statusCreated {
    color: var(--text-primary-color);
}

.ingredients {
    margin-bottom: 40px;

    .ingredientsList {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-height: 312px;
        overflow-y: auto;
        padding-right: 8px;

        .ingredientItem {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
}

.ingredientIconWrapper {
    position: relative;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.ingredientIcon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
    border: 2px solid var(--background-element);
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 2px;
        border-radius: 50%;
        background: var(--background);
        z-index: 1;
    }
}

.ingredientImage {
    position: absolute;
    inset: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.ingredientName {
    flex: 1;
    color: var(--text-primary-color);
}

.ingredientPrice {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalPrice {
    display: flex;
    align-items: center;
    gap: 8px;
}
