.details {
    text-align: center;
    
    .image {
        display: flex;
        justify-content: center;
    }

    .meta {
        display: flex;
        gap: 20px;
        justify-content: center;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                margin: 0px;
            }
        }
    }
}