.draggable_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 400px);
    overflow: auto;
}
.draggable {
    display: flex;
    align-items: center;
    gap: 8px;

    & > svg {
        cursor: grab;
    }
}
.total {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & > div {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: 'Iceland';
        font-size: 48px;

        svg {
            width: 36px;
            height: auto;
        }
    }
}